{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1>Créer votre offre</h1>
        {{ form_start(form) }}
        <div class="col-xs-12 col-sm-6 product">
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Produits :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.produits, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.produits) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Ville de livraison:</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.livraison, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.livraison) }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Prix :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.prix) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 quality">
            <h3 class="q_tittle">Qualité</h3>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Proteïnes :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.proteines, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.proteines) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Poids Spécifique :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.ps, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.ps) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Humidité :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.humidite, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.humidite) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Hagberg :</label>
                    <div class="col-xs-10">

                        {{ form_widget(form.hagberg, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.hagberg) }}
                    </div>
                </div>
            </div>


        </div>




    </div>


        <input type="submit" value="Envoyer" class=" btn btn-success"/>
    {{ form_end(form) }}


{% endblock %}
