{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="title">Bienvenue</h1>

    <div class="page-index  ">
        <div class="row">
             <button type="button" class="btn btn-warning  col-xs-4 col-offset-xs-2 b1" data-toggle="modal" data-target=".bs-example-modal-sm">Je suis Agriculteur</button>
            <a href="{{ path("offre_new") }}"><button type="button" class="btn btn-success  col-xs-4 col-offset-xs-2 b2">Je suis Acheteur</button></a>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-agri ">
                Quel est votre ville ?
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.villeDepart) }}

                {{ form_row(form.save, { 'label': 'Submit me' }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    {% if fraisDeTransport is defined %}

    {{ dump(fraisDeTransport) }}

{% endif%}




{% endblock %}
