    {% extends 'base.html.twig' %}

    {% block body %}
        <h1>Vos offres </h1>
    <div class="container-fluid">
    <div class="col-xs-12 col-sm-3 quality">
        <div class="col-xs-12">
            <div class="form-group row">

                <div id="offre1" class="col-xs-10">
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>Produits</th>
                <td>{{ offre.produits }}</td>
            </tr>
            <tr>
                <th>Protéines</th>
                <td>{{ offre.proteines }}</td>
            </tr>
            <tr>
                <th>Ps</th>
                <td>{{ offre.ps }}</td>
            </tr>
            <tr>
                <th>Humidité</th>
                <td>{{ offre.humidite }}</td>
            </tr>
            <tr>
                <th>Hagberg</th>
                <td>{{ offre.hagberg }}</td>
            </tr>
            <tr>
                <th>Lieu de livraison</th>
                <td>{{ offre.livraison }}</td>
            </tr>
            <tr>
                <th>Prix de l'offre</th>
                <td>{{ offre.prixOffre }}</td>
            </tr>
            <tr>
                <th>Société</th>
                <td>{{ offre.societe }}</td>
            </tr>

        </tbody>
    </table>
      <div class="btnprofite">
            {{ form_start(delete_form) }}
                <input type="submit" value="J'en profite">
            {{ form_end(delete_form) }}
      </div>
                </div>
                </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-3 quality">
            <div class="col-xs-12">
                <div class="form-group row">

                    <div id="offre1" class="col-xs-10">
                        <table>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ offre.id }}</td>
                            </tr>
                            <tr>
                                <th>Produits</th>
                                <td>{{ offre.produits }}</td>
                            </tr>
                            <tr>
                                <th>Protéines</th>
                                <td>{{ offre.proteines }}</td>
                            </tr>
                            <tr>
                                <th>Ps</th>
                                <td>{{ offre.ps }}</td>
                            </tr>
                            <tr>
                                <th>Humidité</th>
                                <td>{{ offre.humidite }}</td>
                            </tr>
                            <tr>
                                <th>Hagberg</th>
                                <td>{{ offre.hagberg }}</td>
                            </tr>
                            <tr>
                                <th>Lieu de livraison</th>
                                <td>{{ offre.livraison }}</td>
                            </tr>
                            <tr>
                                <th>Prix de l'offre</th>
                                <td>{{ offre.prixOffre }}</td>
                            </tr>
                            <tr>
                                <th>Société</th>
                                <td>{{ offre.societe }}</td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="btnprofite">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="J'en profite">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 quality">
            <div class="col-xs-12">
                <div class="form-group row">

                    <div id="offre1" class="col-xs-10">
                        <table>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ offre.id }}</td>
                            </tr>
                            <tr>
                                <th>Produits</th>
                                <td>{{ offre.produits }}</td>
                            </tr>
                            <tr>
                                <th>Protéines</th>
                                <td>{{ offre.proteines }}</td>
                            </tr>
                            <tr>
                                <th>Ps</th>
                                <td>{{ offre.ps }}</td>
                            </tr>
                            <tr>
                                <th>Humidité</th>
                                <td>{{ offre.humidite }}</td>
                            </tr>
                            <tr>
                                <th>Hagberg</th>
                                <td>{{ offre.hagberg }}</td>
                            </tr>
                            <tr>
                                <th>Lieu de livraison</th>
                                <td>{{ offre.livraison }}</td>
                            </tr>
                            <tr>
                                <th>Prix de l'offre</th>
                                <td>{{ offre.prixOffre }}</td>
                            </tr>
                            <tr>
                                <th>Société</th>
                                <td>{{ offre.societe }}</td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="btnprofite">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="J'en profite">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Secondary, outline button -->
       <p id="button"><button type="button" class="btn btn-secondary">Retour à l'accueil</button></p>
    {% endblock %}
