{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tarifs</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tarif.id }}</td>
            </tr>
            <tr>
                <th>Km</th>
                <td>{{ tarif.km }}</td>
            </tr>
            <tr>
                <th>Rouen</th>
                <td>{{ tarif.rouen }}</td>
            </tr>
            <tr>
                <th>Ide</th>
                <td>{{ tarif.iDE }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tarifs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tarifs_edit', { 'id': tarif.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
