    {% extends 'base.html.twig' %}

    {% block body %}



        <h1>Vos coordonnées</h1>
        <div class="container-fluid">

        {{ form_start(form) }}
        <div class="form-group row">
            <label for="societe-input" class="col-xs-2 col-form-label">Société</label>
            <div class="col-xs-6">
                {{ form_widget(form.societe, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.societe) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="nom-input" class="col-xs-2 col-form-label">Nom</label>
            <div class="col-xs-6">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="prenom-input" class="col-xs-2 col-form-label">Prénom</label>
            <div class="col-xs-6">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="adresse-input" class="col-xs-2 col-form-label">Adresse</label>
            <div class="col-xs-6">
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.adresse) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="cp-input" class="col-xs-2 col-form-label">Code Postal</label>
            <div class="col-xs-6">
                {{ form_widget(form.cp, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.cp) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="ville-input" class="col-xs-2 col-form-label">Ville</label>
            <div class="col-xs-6">
                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.ville) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone-input" class="col-xs-2 col-form-label">Téléphone</label>
            <div class="col-xs-6">
                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tel) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="email-input" class="col-xs-2 col-form-label">EMail</label>
            <div class="col-xs-6">
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.mail) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-6 ">
                <label for="exampleTextarea">Rappel de votre offre</label>
                <textarea class="col-xs-5 form-control" id="exampleTextarea" rows="5"></textarea>
            </div>
        </div>


        <input type="submit" value="Envoyer" />
        {{ form_end(form) }}
        </div>
    {% endblock %}
