{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acheteur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acheteur.id }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ acheteur.societe }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ acheteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ acheteur.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ acheteur.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ acheteur.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ acheteur.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ acheteur.tel }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ acheteur.mail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('acheteur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('acheteur_edit', { 'id': acheteur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
